a{
    color: #fff;
}
.buttonCustom{
    padding: 11px 13px ;
}

/* DASHBOARD */

.tabs{
    /* background: #ffe5e2;
    border-radius: .5rem; */
    grid-template-rows: auto 1fr;
}
.buttonDashboard{
    padding: 1rem 0;
    border: none;
    font-size:small;
    background: #fff;
    cursor: pointer;
    transition: all .3s linear;
    /* letter-spacing: 0.25rem; */
}

.btn-container.dashboard{ 
    display: grid;
    grid-template-columns: .1fr .1fr; /* blm tau fungsinya*/
    justify-content: end;
}

.buttonDashboard:nth-child(1){
    border-top-left-radius: .5rem;
}

.buttonDashboard:nth-child(3){
    border-top-right-radius: 0.5rem;
}

.buttonDashboard:hover:not(.live){
    background: #d9d9d9;
    opacity: .5;
    /* color: white; */
}

.tabs-content{
    padding: 0 1.5rem;
}

.content{
    display: none;
}

.content.live{
    display: block;
}

.buttonDashboard.live{
    background: aqua;
}

/* SURAT MASUK */

.buttonCustom.daftar-surat-masuk{
    padding: 7px 5px ;
}

.buttonCustom.surat{
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.btn-container.form{
    font-size: small;
    display: grid;
    grid-template-columns: .1fr .1fr;
    justify-content: end;
    padding: 5px 3px;
    margin: 0 10px 20px 10px;
}


/* Popup */
.card-title.popup{
    margin: 0;
    padding: 0;
}

.popupCustom{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;

    opacity: 0;
    visibility: hidden;

    transition: all .3s;
}

.popup-content{
    width: 50%;
    background-color: #fff;
    box-shadow: 0 20px 40px rgba(0,0,0,.2);

    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%) scale(.25);
    opacity: 0;

    transition: all .5s .1s;
}

.button-popup{
    display: flex;
    justify-content: flex-end;
    /* margin-bottom: 20px; */
}

#popup-suratMasuk:target{
    opacity: 1;
    visibility: visible;
}

#popup-suratMasuk:target .popup-content{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.popup-header{
    padding: 10px;
    background-color: cadetblue;
}

.popup-form{
    padding: 25px;
}